.splitter-form {
    display: flex;
    flex-direction: column;
}

.splitter-form * {
    padding: 0.5em;
    margin: 0.5em;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
}

.splitter-form label {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
}

.splitter-form input[type=submit] {
    width: 50%;
    border: 2px black solid;
    background-color: transparent;
}

.splitter-form input[type=submit]:hover {
    background-color: rgb(240, 239, 239);
}