

<article>
    <h1>Thank You!</h1>
    <h5> Thanks <%= params["name"] %>! Your message has been received as: </h5>
    <h5 style="font-family: monospace; margin: 1em"><%= params["message"] %></h5>
    <h5> from <%= params["email"] %> </h5>
</article>